#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

.title {
    margin: 5rem;
}

#content{
    margin-top: 70px;
}