#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

.title {
    margin: 5rem;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minimum and maximum column widths as needed */
    gap: 20px; /* Adjust the gap between grid items as needed */
}

.cardItem {
    margin-left: 20px;
    margin-right: 20px;
}

.schriftCard {
    height: 40px;
}