#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

img{
    height: 3rem;
    padding: 1rem;
}

.title {
    margin: 5rem;
}
p{
    padding-top: 10px;
}
.textBlock {
    padding-top: 20px
}

#content{
    margin-top: 70px;
}